.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: solid red 3px
}

.formControl.error span {
    margin-left: 10px;
    color: red;
    font-weight: bold;
}

/*----------------------------------------------------*/

.spanClassName {
    margin: 0 0.5vw 0 0;
    font-size: 16px;
    cursor: pointer;

}

.checkboxBox {
    display: inline-block;
}

.innerCbx {
    display: none;

}


.check {
    cursor: pointer;
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}
.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}
.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}
.check:hover:before {
    opacity: 1;
}
.check:hover svg {
    stroke: #000;
}
.innerCbx:checked + .check svg {
    stroke: #000;
}
.innerCbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}
.innerCbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}
