/*@import url("../../assets/fonts/telegraphem/stylesheet.css");*/

.navigation {
    font-family: telegraphemregular, sans-serif;
    grid-area: nav;
    color: #ffffff;
    background-color: #202020;
    text-decoration: none;
    left: 4px;
    padding: 20px;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.active {
    color: darkorange;
}

@media all and (max-width: 700px) {
    .navigation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        background-color: #fff;
        padding: 0;
        left: 0;
    }
    .navigation div {
        display: flex;
        flex-direction: column;
        padding: 2px;
        align-items: center;
        background-color: #202020;
    }
    .navigation div a {
        margin: auto;
        text-align: center;
    }
}